*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f6f6f6;
color:#111;
}


/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 30px 0 10px;
position:fixed;
top:0;
width:100%;
height:80px;
z-index:1000;
background:transparent;
transition:background 0.4s ease;
}

header{
border-bottom:none;
}

/* navbar color after scrolling */

header.scrolled{
background:#3d0718;
}

.logo img{
height:85px;
}

nav a{
text-decoration:none;
color:white;
margin-left:35px;
font-size:15px;
letter-spacing:1px;
transition:0.3s;
}

nav a:hover{
opacity:0.7;
}


/* HERO SLIDER */

.hero-slider{
width:100%;
height:100vh;
position:relative;
overflow:hidden;
}

.slide{
position:absolute;
width:100%;
height:100%;
opacity:0;
transition:opacity 2s ease;
}

.slide.active{
opacity:1;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
object-position:center;
}

.slide img{
animation:heroZoom 8s ease-in-out infinite alternate;
}

@keyframes heroZoom{

from{
transform:scale(1);
}

to{
transform:scale(1.08);
}

}

/* COLLECTION SECTION */

.collections{
padding:80px 80px;
text-align:center;
background:#ececec;
}

.collections h2{
font-family:'Playfair Display',serif;
font-size:36px;
margin-bottom:60px;
}

.collection-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

.collection-card{
background:white;
border-radius:10px;
overflow:hidden;
text-decoration:none;
color:black;
transition:0.3s;
height:480px;
}

.collection-card img{
width:100%;
height:600px;
object-fit:cover;
}

.collection-card h3{
padding:20px;
font-size:18px;
}

.collection-card:hover{
transform:translateY(-6px);
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}


/* ABOUT */

.about{
padding:80px 20px;
background:white;
text-align:center;
}

.about h2{
font-family:'Playfair Display',serif;
font-size:32px;
margin-bottom:20px;
}

.about p{
max-width:600px;
margin:auto;
line-height:1.6;
}


/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#111;
color:white;
}


/* PRODUCTS PAGE */

body.perfume-page header{
position:relative;
background:#3d0718;
}

.products-page{
padding:80px 80px 60px 80px;
background:#570c24;
min-height:100vh;
color:white;
}

.products-page h2{
text-align:center;
font-family:'Playfair Display',serif;
font-size:34px;
margin-bottom:60px;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:40px;
}


/* PRODUCT CARD */

.product-card{
background:white;
border-radius:14px;
padding:25px;
text-align:center;
box-shadow:0 20px 40px rgba(0,0,0,0.18);
transition:0.35s;
}

.product-card:hover{
transform:translateY(-10px);
box-shadow:0 20px 50px rgba(0,0,0,0.25);
}

.product-card h3{
margin-top:15px;
font-size:18px;
color:#111;
}

.product-card p{
font-size:14px;
margin-top:8px;
color:#444;
}

.price{
font-weight:500;
margin-top:10px;
}

.category-section{
margin-bottom:50px;
max-width:500px;
}

.category-description{
color:white;
}

.category-description h3{
font-family:'Playfair Display',serif;
font-size:30px;
margin-bottom:12px;
}

.category-description p{
font-size:15px;
line-height:1.6;
}

/* BUY BUTTON */

.buy-btn{
display:inline-block;
margin-top:18px;
padding:12px 28px;
background:#3d0718;
color:white;
text-decoration:none;
border-radius:30px;
font-size:13px;
letter-spacing:1px;
transition:0.3s;
}

.buy-btn:hover{
background:#6d1632;
transform:scale(1.05);
}


/* IMAGE SLIDER */

.image-slider{
position:relative;
width:100%;
height:340px;
overflow:hidden;
border-radius:10px;
background:white;
display:flex;
align-items:center;
justify-content:center;
}

.image-slider img{
position:absolute;
max-width:85%;
max-height:90%;
object-fit:contain;
opacity:0;
transition:opacity 0.5s;
}

.image-slider img.active{
opacity:1;
}

.prev,
.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.4);
color:white;
border:none;
font-size:20px;
padding:8px 12px;
cursor:pointer;
}

.prev{
left:10px;
}

.next{
right:10px;
}

.category-layout{
display:flex;
flex-direction:column;
gap:25px;
margin-top:40px;
}

.category-row{
display:flex;
gap:25px;
}

.category-card{
position:relative;
overflow:hidden;
border-radius:12px;
display:block;
}

.category-card img{
width:100%;
height:100%;
object-fit:cover;
transition:0.5s;
}

.category-card:hover img{
transform:scale(1.08);
}

.category-overlay{
position:absolute;
bottom:0;
left:0;
width:100%;
padding:30px;
background:linear-gradient(transparent, rgba(0,0,0,0.7));
color:white;
}

.category-overlay h3{
font-family:'Playfair Display',serif;
font-size:28px;
}

.category-card.large{
height:550px;
}

.category-card.half{
flex:1;
height:700px;
}