*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f6f6f6;
color:#111;
}


/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 30px 0 10px;
position:fixed;
top:0;
width:100%;
height:80px;
z-index:1000;
background:transparent;
transition:background 0.4s ease;
}

header{
border-bottom:none;
}

/* navbar color after scrolling */

header.scrolled{
background:#3d0718;
}

.logo img{
height:85px;
}

nav a{
text-decoration:none;
color:white;
margin-left:35px;
font-size:15px;
letter-spacing:1px;
transition:0.3s;
}

nav a:hover{
opacity:0.7;
}


/* HERO SLIDER */

.hero-slider{
width:100%;
height:100vh;
position:relative;
overflow:hidden;
}

.slide{
position:absolute;
width:100%;
height:100%;
opacity:0;
transition:opacity 2s ease;
}

.slide.active{
opacity:1;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
object-position:center;
}

.slide img{
animation:heroZoom 8s ease-in-out infinite alternate;
}

@keyframes heroZoom{

from{
transform:scale(1);
}

to{
transform:scale(1.08);
}

}

.hero-content{
position:absolute;
top:50%;
left:8%;
transform:translateY(-50%);
text-align:Left;
color:white;
align-items:flex-start;
}


.hero-content h1{
font-family:'Playfair Display',serif;
font-size:56px;
letter-spacing:2px;
margin-bottom:1px;
}

.hero-content p{
font-size:18px;
margin-top:2px;
}

.hero-btn{
display:inline-block;
padding:14px 40px;
background:#830a30;
color:white;
margin-top:20px;
text-decoration:none;
border-radius:40px;
font-size:14px;
letter-spacing:1px;
transition:0.5s;
}

.hero-btn:hover{
background:#6d1632;
transform:scale(1.10);
}

/* COLLECTION SECTION */

.collections{
padding:80px 80px;
text-align:center;
background:#ececec;
}

.collections h2{
font-family:'Playfair Display',serif;
font-size:36px;
margin-bottom:60px;
}

.collection-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

.collection-card{
background:white;
border-radius:10px;
overflow:hidden;
text-decoration:none;
color:black;
transition:0.3s;
height:480px;
}

.collection-card img{
width:100%;
height:600px;
object-fit:cover;
}

.collection-card h3{
padding:20px;
font-size:18px;
}

.collection-card:hover{
transform:translateY(-6px);
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}


/* ABOUT */

.about{
padding:80px 20px;
background:white;
text-align:center;
}

.about h2{
font-family:'Playfair Display',serif;
font-size:32px;
margin-bottom:20px;
}

.about p{
max-width:600px;
margin:auto;
line-height:1.6;
}


/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#111;
color:white;
}


/* PRODUCTS PAGE */

body.perfume-page header{
position:fixed;
top:0;
left:0;
width:100%;
background:#3d0718;
z-index:1000;
}


.products-page{
padding:120px 80px 80px;
background:linear-gradient(to bottom, #3d0718, #2a0612);
/*background:#3d0718;*/
min-height:100vh;
color:white;
}

.products-page h2{
text-align:center;
font-family:'Playfair Display',serif;
font-size:34px;
margin-bottom:60px;
}


.product-grid{
display:grid;
grid-template-columns:repeat(3, 2fr);
gap:50px;
max-width:1500px;
margin:auto;
}

/* PRODUCT CARD */


.product-card{
background:transparent;
padding:0;
border-radius:12px;
text-align:center;
box-shadow:none;
transition:0.4s;
}

.product-card:hover{
transform:translateY(-8px);
}

.product-card h3{
font-size:16px;
font-weight:500;
margin-top:10px;
color:#fff;
}

.product-card p{
font-size:13px;
color:#ddd;
margin-top:5px;
}

.product-card::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(to bottom, rgba(255, 255, 255, 0.144), transparent);
opacity:0.4;
pointer-events:none;
}

.price{
font-size:14px;
font-weight:600;
color:#ffccaa;
margin-top:8px;
}

.category-section{
margin-bottom:50px;
max-width:500px;
}

.category-description{
color:white;
margin-bottom:40px;
}

.category-description h3{
font-family:'Playfair Display',serif;
font-size:36px;
margin-bottom:15px;
}

.category-description p{
font-size:16px;
line-height:1.7;
opacity:0.9;
}

/* BUY BUTTON */

.buy-btn{
display:inline-block;
margin-top:18px;
padding:10px 26px;
background:#830a30;
color:white;
text-decoration:none;
border-radius:40px;
font-size:12px;
letter-spacing:2px;
transition:0.3s;
}

.buy-btn:hover{
background:#5c0a22;
transform:scale(1.05);
}


/* IMAGE SLIDER */

.image-slider{
position:relative;
width:100%;
height:260px;
margin-bottom:20px;
display:flex;
align-items:center;
justify-content:center;
}

.image-slider img{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:contain;
opacity:0;
transition:opacity 0.5s ease;
}

.image-slider img.active{
opacity:1;
}

.prev,
.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.4);
color:white;
border:none;
font-size:18px;
padding:6px 10px;
cursor:pointer;
border-radius:50%;
z-index:2;
}

.prev{
left:10px;
}

.next{
right:10px;
}

.image-slider::after{
content:'';
position:absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
width:60%;
height:20px;
background:radial-gradient(rgba(255,200,150,0.3), transparent);
filter:blur(10px);
}

.category-layout{
display:flex;
flex-direction:column;
gap:25px;
margin-top:40px;
}

.category-row{
display:flex;
gap:25px;
}

.category-card{
position:relative;
overflow:hidden;
border-radius:12px;
display:block;
}

.category-card img{
width:100%;
height:100%;
object-fit:cover;
transition:0.5s;
}

.category-card:hover img{
transform:scale(1.08);
}

.category-overlay{
position:absolute;
bottom:0;
left:0;
width:100%;
padding:30px;
background:linear-gradient(transparent, rgba(0,0,0,0.7));
color:white;
}

.category-overlay h3{
font-family:'Playfair Display',serif;
font-size:28px;
}

.category-card.large{
height:520px;
}

.category-card.half{
flex:1;
height:540px;
}

/* BRAND HIGHLIGHT */
.brand-highlight{
padding:80px 20px;
background:#3d0718;
color:white;
text-align:center;
}

.brand-highlight h2{
font-family:'Playfair Display',serif;
font-size:34px;
margin-bottom:20px;
}

.brand-highlight p{
max-width:650px;
margin:auto;
line-height:1.7;
}

/* Improve mobile spacing */
@media (max-width:768px){

.product-grid{
grid-template-columns:1fr;
gap:30px;
}

.hero-slider{
position:relative;
width:100%;
height:100vh;
overflow:hidden;
}

.slide{
position:absolute;
width:100%;
height:100%;
opacity:0;
transition:opacity 0.8s ease;
}

.slide.active{
opacity:1;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
}    


.hero-content{
position:relative;
top:auto;
left:auto;
transform:none;
padding:30px 20px;
background:white;
color:#111;
text-align:center;
}

.hero-content h1{
font-size:32px;
margin-bottom:10px;
}

.hero-content p{
font-size:15px;
margin-bottom:18px;
}

.hero-btn{
padding:12px 28px;
font-size:13px;
}

}